/* MULISH FONT */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: "Mulish", sans-serif;
}

/* default styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: 5rem auto;
    border-radius: 1rem;
}
.dflex{
    display: flex;
}
.orange{
    color: #FF5400;
}
h3{
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    line-height: normal;
}
p,
li{
    font-size: 18px;
    cursor: pointer;
    text-align: center;
}
.white{
    color: white;
    background-color: #FF5400;
    justify-content: space-evenly;
}
/* navbar starts */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    align-items: center;
}
.nav-logo-img{
    width: 48px;
    height: 56px;
    margin-right: 0.5rem;
}
.nav-option{
    justify-content: space-evenly;
    gap: 3rem;
}
/* banner */
.explore-your-travel{
    height: 500px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../Images/bg1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color:  rgba(0,0,0,0.5);
    background-blend-mode: overlay ;
}
.explore-your-travel h3{
        color:white;
        font-size: 4rem;
        font-size: 800;
        margin-bottom: 1.8rem;
}
.explore-your-travel p{
    font-size: 1rem;
    color: white;
    margin-bottom: 3rem;
}
.travel-input{
    width: 800px;
    height: 5rem;
    background-color:  rgba(255, 255, 255, 0.3);
    backdrop-filter: 4px;
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    width: 174px;
    border-radius: 8px;
    border: none;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    cursor: pointer;
}
.input-color{
    color: rgba(19, 19, 24, 0.5);
}
/* our popular tour */
.popular-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    justify-content: space-between;
}
.text-content{
    flex-direction: column;
    justify-content: space-between;
    row-gap: 1rem;
}
.text-content p,
.text-content li{
    font-size: 16px;line-height: 24px;
    word-spacing: 5px;
    letter-spacing: 1px;
}
.text-content h3,
.text-content p,
.text-content li{
    text-align: left;
}
.text-content li{
    margin-left: 50px;
}
.image img{
    width: 100%;
}
.btn-bold{
    font-weight: 800;
}
/* Your Destination */
.row1,
.row2,
.row3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem auto;
    gap: 1rem;
}
.row2{
    grid-template-columns: 0.9fr 1.5fr 0.6fr;
}
.row3{
    grid-template-columns: 0.6fr 0.9fr;
}
.country-card img{
    width: 100%;
    height: 300px;
    filter: brightness(70%);
}
.country-card{
    position: relative;
}
.country-card .country{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 28px;
    font-weight: 800;
    transform: translate(-50%, -50%);
}